@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f5f4;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  color: black;
  height: 100px;
  font-family: "Poppins", Verdana;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .logo {
  font-weight: bold;
  font-size: 30px;
}


.navbar .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.bookshelf .container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}




.newbook {
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-book-btn {
  outline: 0;
  border: 0;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  background-color: rgb(28, 149, 248);
  border-radius: 3px;
  padding: 16px 18px 15px;
  white-space: nowrap;
}



#form {
  display: flex;
  justify-content: center;
  align-items: center;
}


#form-wrapper {
	display: flex;
	flex-direction: column;
	position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
	height: 50%;
  padding: 50px;
  transform: translate(-50%, -50%);
  background: #d4ebd9;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  margin-top: 2rem;
}

input {
	font-family: "Rubik", sans-serif;
	background: #fff;
	border: 1px solid;
	font-size: 24px;
	margin: 1rem;
	padding: 5px;
	color: black;
}


label {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
}

select {
  margin-top: 1rem;
  padding: 5px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}



#addbook {
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



#submitbtn {
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
	cursor: pointer;
	padding: 0 24px;
	border-radius: 10px;
	height: 50px;
	font-size: 22px;
	background-color: #F7DC6F;
	color: #222;
  margin-top: 25px;
  border: 1px solid black;
	
}

#booktable {
  font-family: 'Rubik', Helvetica, sans-serif;
  border-collapse: collapse;
  width: 110%;
}

#booktable td, #booktable th {
  border: 1px solid #ddd;
  padding: 12px;
}

#booktable tr{background-color: #f4f6fb;}


#booktable tr:hover {background-color: #e7ebdf;}

#booktable th {
  padding: 12px;
  text-align: left;
  background-color: #2E4053;
  color: white;
  font-size: 20px;
  font-family: 'Rubik', Helvetica, sans-serif;
}

.removeBtn {
  text-align: center;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  padding: 2px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

.readBtn {
  text-align: center;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #2ECC71;
  color: #fff;
  background: #2ECC71;
  padding: 2px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  min-width: 75px;
}


/* Mobile Responsive */
@media screen and (max-width: 1500px) {
  #form-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 50%;
    padding: 30px;
  }
}

@media screen and (max-width: 950px) {
  #form-wrapper {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 50%;
    padding: 30px;
  }
}

@media screen and (max-width: 700px) {
  #form-wrapper {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    padding: 30px;
  }
}

@media screen and (max-width: 500px) {
  #form-wrapper {
    top: 65%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 50%;
    padding: 50px;
    background: #d4ebd9;
    border-radius: 15px;
    margin-top: 0;
  }

  .navbar .logo {
    font-weight: bold;
    text-align: center;
    margin: 0 auto; 
  }

  .newbook {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}




@media screen and (max-width: 380px) {
  #form-wrapper {
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 50%;
    margin-top: 0;
  }
}