@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f3ed;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  color: black;
  height: 100px;
  font-family: "Poppins", Verdana;
}

.navbar .logo {
  font-weight: bold;
  font-size: 30px;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  font-family: "Poppins", Verdana;
}

.navbar a:hover {
  color: #c3c608;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.bookshelf .container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 2rem;
  border-radius: 8px;
  width: 280px;
  height: 380px;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.buttons {
  display: flex;
  justify-content: center;
}

.status {
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #1fc952;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-size: 18px;
  height: 42px;
  margin: 5px;
}

.delete {
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #ff4742;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-size: 18px;
  height: 42px;
  margin: 5px;
}

.card .input-groups {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  font-family: "Rubik", sans-serif;
}

.newbook {
	display: flex;
	justify-content: center;
	align-items: center;
}

#new-book-btn {
  outline: 0;
  border: 0;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  background-image: linear-gradient(to right, #e052a0, #f15c41) !important;
  border-radius: 3px;
  padding: 16px 18px 15px;
  white-space: nowrap;
}


#new-book-btn :hover {
    background-color: #e6375a;
    background-image: none !important;
  }
